
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url(hero-section01.css);


:root{
    --main-color: #14082E;
    --white-color: #ffff;
    --secondary-color: #4D3B77;
    --third-color: #381E72;
    --gray-color: #8B8888;
    --stroke-color:#7C5BA5;
    --background-gradient: linear-gradient(90deg, #E64D63 , #F88456 100%);
    --title-color: #FC9053;
}

* {
    font-family: Open sans;
}

li{
    list-style: none;
}
a {
    text-decoration: none;
}

body {
    background-color: var(--main-color)
}

/* about section */
.about{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about_img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_text{
    text-align: center;
}

.about_text h2{
    color: var(--white-color);
    font-size: 1.8rem;
    font-weight: 700;
}

.about_text p{
    color: var(--white-color);
    font-size: 14px;
}

.about_text span{
    color: var(--title-color);
}

.about_list_item i{
    font-size: 24px;
}

.about_list_item{
    gap: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about_list_item p {
    font-size: 12px;
    text-align: center;
}

.button {
    width: 150px;
    padding: 0;
    border: none;
    transform: rotate(5deg);
    transform-origin: center;
    font-size: 15px;
    cursor: pointer;
    margin-top: 1rem;
    padding-bottom: 3px;
    border-radius: 5px;
    box-shadow: 0 2px 0 #494a4b;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background-color: #F88456;
}
  
.button a {
    background: #f1f5f8;
    display: block;
    font-size: 1rem;
    color: var(--main-color);
    font-weight: 600;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 2px solid #494a4b;
}
  
.button:active {
    transform: translateY(5px);
    padding-bottom: 0px;
    outline: 0;
}