
@import url(responsive.css);


:root{
    --main-color: #14082E;
    --white-color: #ffff;
    --secondary-color: #4D3B77;
    --third-color: #381E72;
    --gray-color: #8B8888;
    --stroke-color:#7C5BA5;
}

a {
    text-decoration: none;
}


body{
    position: relative;
    background-color: #14082E;
}

.container-lg{
    width: 1280px;
}

header{
    display: flex;    
    flex-direction: row;
    justify-content: space-around;
    height: 72px;
}

.header-btn{
    display: flex;
    align-items: center;
    gap: 2rem;
    height: 72px;
}

.header-btn a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E64D63;
    padding: 10px;
    width: 120px;
    text-align: center;
    height: 20px;
    color: var(--white-color);
}
.card-nav {
    position: absolute;
    top: 0;
    right: 0;
    background:var(--main-color);
    height: 100vh; 
    transition: right 0.1s ease; 
    display: block;
    color: #ffff;
    width: 36rem;
    display: none;
    
}

.card-nav__login{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.4rem;
}

.login-btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    background-color:var(--secondary-color);
    border-radius: 2px;
    padding: 5px 20px 5px 20px;
    width: 22rem;
    height: 2rem;
}

.facebook{
    background-color: var(--third-color);
}


.login-btns a{
    color: var(--white-color);
    font-size: 1rem;
}


.card_nav__login-btns{
    display: flex;
    gap: 1.6rem;
    flex-direction: column;
}



.card-nav.visible {
    right: 0; 
}

.line{
    width: 28px;
    height: 1px;
    background-color: var(--gray-color);
}

.card-nav__divider{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    color: var(--gray-color);
    font-size: 1.1rem;
}

/* FORM */

.card-nav__form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

form{
    padding: 1.2rem;
}

.form-componente {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}

input{
    height: 1.6rem;
    border-radius:0.4rem;
    border: 1px solid var(--stroke-color);
    background-color: #211142;
    padding: 0.5rem;

}

.form_email{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form_email input{
    width: 15rem;
}

.card-nav__form-btns{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.btn-form{
    margin-top: 0.8rem;
    padding: 10px;
    width: 180px;
    height: 45px;
    border-radius: 2px;
    background-color: #E64D63;
    border: none;
    color: var(--white-color);
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-nav__form p{
    margin-top: 1rem;
    text-align: center;
    font-size: 1rem;
}

.card-nav__form span{
    color: var(--stroke-color);
}

header, .hero-section {
    min-width: 100%;
    background-image: url(/assets/imgs/kratos-section.png);
    background-size: cover; /* Ajusta a imagem para cobrir todo o elemento */
    background-position: center; /* Centraliza a imagem no elemento */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    height: 100vh;
}



















/* Keyframes para a animação de entrada */
@keyframes slideIn {
    from {
        right: -626px;
    }
    to {
        right: 0;
    }
}

/* Keyframes para a animação de saída */
@keyframes slideOut {
    from {
        right: 0;
    }
    to {
        right: -626px;
    }
}

/* Aplicando animação de entrada */
.card-nav.enter {
    animation: slideIn 0.3s forwards;
}

/* Aplicando animação de saída */
.card-nav.leave {
    animation: slideOut 0.3s forwards;
}