
@import url(c);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url(responsive.css);
@import url(sidebar.css);


:root{
    --main-color: #14082E;
    --white-color: #ffff;
    --secondary-color: #4D3B77;
    --third-color: #381E72;
    --gray-color: #8B8888;
    --stroke-color:#7C5BA5;
    --background-gradient: linear-gradient(90deg, #E64D63 , #F88456 100%);
}

* {
    font-family: Open sans;
}

a {
    text-decoration: none;
}


body{
    position: relative;
    background-color: #14082E;
}

.container-lg{
    width: 1280px;
}

header{
    display: flex;    
    flex-direction: row;
    justify-content: space-around;
    height: 72px;
}

.header-btn{
    display: flex;
    align-items: center;
    gap: 2rem;
    height: 72px;
}

.header-btn a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:var(--secondary-color);
    padding: 12px;
    width: 120px;
    text-align: center;
    height: 20px;
    color: var(--white-color);
    border-radius: 5px;
}

#login{
    background-color: transparent;
    border: 1px solid;
    border-radius: 5px;
}

header, .hero-section {
    min-width: 100%;
    background-image: url(/assets/imgs/kratos-section.png);
    background-size: cover; /* Ajusta a imagem para cobrir todo o elemento */
    background-position: center; /* Centraliza a imagem no elemento */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    height: 100vh;
}

.hero-section{
    position: relative;
}

.about{
    position: absolute;
    top: 30%;
    left: 18%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.about h1{
    background: var(--background-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 64px;
    width: 610px;
    font-weight: 600;
}

#texto-alternado{
    color: var(--white-color);
    font-size: 64px;
    width: 610px;
    font-weight: 600;
    transition: opacity 1ms ease-in-out;
}

.fade-out {
    opacity: 0;
}
.fade-in {
    opacity: 1;
}

.about p{
    color: var(--white-color);
    font-size: 16px;
    font-weight: 100;
}

.filtro-hero{
    display: flex;
    gap: 8px;
    padding: 1rem;
    border: 1px solid var(--gray-color);
    border-radius: 8px;
    width: 400px;
    align-items: center;
}

.filtro-hero input {
    background-color: transparent;
    border: none;
    height: 18px;
}

.filtro-hero input::placeholder{
    text-align: center;
    font-size: 1rem;
}

.filtro-hero i {
    color: var(--white-color);
    cursor: pointer;
}











/* Keyframes para a animação de entrada */
@keyframes slideIn {
    from {
        right: -626px;
    }
    to {
        right: 0;
    }
}

/* Keyframes para a animação de saída */
@keyframes slideOut {
    from {
        right: 0;
    }
    to {
        right: -626px;
    }
}

/* Aplicando animação de entrada */
.card-nav.enter {
    animation: slideIn 0.3s forwards;
}

/* Aplicando animação de saída */
.card-nav.leave {
    animation: slideOut 0.3s forwards;
}